* {
    /*Basic Formatting*/
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    /*Color Varialbes*/
    --header-color: #F57D26;
    --box-shadow: #39444a;
    --page-text-color: #272E33;

    --button-highlight: #f8a744;

    --main-color: #D3C6AA;
    --main-dot-color: #9DA9A0;

    --tag-def-color: #E69875;
    --note-def-color: #DBBC7F;
}

/*Websites Structure*/
html, body {
    height: 100%;
}

header {
    position:relative;
    display: flex;
    align-content: center;
    justify-content: center;

    width: auto;
    height: 5em;

    background-color: var(--header-color);
    color: var(--page-text-color);
    box-shadow: 0px 0px 2em var(--box-shadow);

    z-index: 100;
}

header h1 {
    align-content: center;
    justify-content: center;
    flex-shrink: 0
}
header #theme-btn {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    width: 2em;
    height: 2em;
    font-size:xx-large;

    background: none;
    border: none;
    color: var(--page-text-color);
}
/* 
header #add-btn {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);

    width: 2em;
    height: 2em;
    font-size:xx-large;

    background: none;
    border: none;
    color: var(--page-text-color);
} */

.menu {
    display: flex;
    flex-direction: column;
    width: 2em;
    padding: 1em;
    z-index: 99;

    button {
        background-color: var(--header-color);
        border: none;
        border-radius: 50%;

        width: 3em;
        height: 3em;
        margin-top: 1em;

        box-shadow: 0px 0px 0.25em var(--box-shadow);
    }

    button:hover {
        background-color: var(--button-highlight);
    }
}


main {
    width: auto;
    height: 100svh;
    

    background-image: radial-gradient(var(--main-dot-color) 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: var(--main-color);
    
    z-index:0;
}



/*Tags and Notes*/

.draggable {
    
    z-index: 50;
    position: absolute;
    cursor: grab;
    width: 20em;
    height: 2em;

    background-color: var(--tag-def-color);
    color: #fff;
    
    touch-action: none;

    box-shadow: 0px 10px 1em var(--box-shadow);
    
}

.draggable.dragging {
    cursor: grabbing;
}


.note {
    position: inherit;
    cursor: text;
    width: 18em;
    height: 12em;
    margin-top: 2em;
    padding: 1em;
    z-index: 50;

    color: black;
    font-weight: bold;

    background-color: var(--note-def-color);
    box-shadow: 0px 10px 1em var(--box-shadow);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.closing {
    position: absolute;
    cursor: default;
    width: 1.5em;
    height: 1.5em;

    color: black;
    font-weight: bold;

    background-color: #ff0000;   
}

.note:focus {
    outline: none;
}
