* {
    /*Basic Formatting*/
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    /*Color Varialbes*/
    --header-color: #44556e;
    --header-shadow: #000000;
    --page-text-color: #ffffff;

    --main-color: #222233;
    --main-dot-color: #44556e;
}

/*Websites Structure*/
html, body {
    height: 100%;
}

header {
    position:relative;
    display: flex;
    align-content: center;
    justify-content: center;

    width: auto;
    height: 5em;

    background-color: var(--header-color);
    color: var(--page-text-color);
    box-shadow: 0px 0px 2em var(--header-shadow);

    z-index: 100;
}

header h1 {
    align-content: center;
    justify-content: center;
    flex-shrink: 0
}
header button {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    width: 2em;
    height: 2em;
    font-size:xx-large;

    background: none;
    border: none;
    color: var(--page-text-color);
}


main {
    width: auto;
    height: 100svh;
    

    background-image: radial-gradient(var(--main-dot-color) 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: var(--main-color);
    
    z-index:0;
}



/*Notes*/
.sticky-note {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #e4e466;
    width: 20em;
    height: 18em;
    border-radius: 1em;
    border: none;
    box-shadow: 0px 0px 2em var(--header-shadow);
}

.notelabels {
    border:none;

    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 0.25em;
    
}

.textcontent {
    border:none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #e2c855;

    width: calc(inherit - 1em);
    height: inherit;
    padding: 1em;

    font-size: large;
    font-weight: bold;
}

